.infos-box-container {
    -fx-background-radius: 10px 10px 0 10px;
    -fx-padding: 4px 18px 4px 18px;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.3), 12, 0, 0, 0);
}

.infos-vbox {
    -fx-background-color: #fff;
}

.close-info-box {
    -fx-font-family:"FontAwesome";
    -fx-fill: #555;
    -fx-cursor: hand;
}

.display-name {
    -fx-font-size: 26px;
    -fx-font-family: Calibri;
}
.type-display-name {
    -fx-font-size: 18px;
    -fx-font-family: Calibri;
    -fx-fill: #555;
}

.rating > .container > .button {
    -fx-background-color: transparent;
    -fx-padding: 15 15;
    -fx-background-image-repeat: no-repeat;
}
.rating > .container .button {
    -fx-background-size: cover;
    -fx-padding: 10;
}
.rating-count {
    -fx-font-size: 14px;
    -fx-fill: #222;
}

.details-icon {
    -fx-fill: #225be5;
}
.details-text {
    -fx-font-size: 16;
}

.types-container {
    -fx-spacing: 8;
}
.types-container .button:disabled {
    -fx-background-color: #fff;
    -fx-text-fill: #225be5;
    -fx-opacity: 1;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-border-style: solid;
    -fx-border-color: #225be5;
    -fx-border-radius: 15px;
}

.photos-grid {
    -fx-background-color: #fff;
}
.photos-container Text {
    -fx-font-size: 19px;
    -fx-font-family: Calibri;
    -fx-fill: #333;
}
.photos-container Separator .line{
    -fx-background-color: #888;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}
